{% extends 'bookstore/base.html' %}

{% block content %}
    <div class="container-fluid">
    {% include 'bookstore/sidebar.html'%}
      <div row id="form_row">
        <div class="col-md-2">
            <div class="book-item">
                {% if form.instance.image %}
                <img src="{{form.instance.image.url}}"/>
            {% endif %}
            </div>
        </div>
        <div class="col-md-8">
            <form method="POST" action="." enctype="multipart/form-data">
            {% csrf_token %}
            <ul class="form-style-1">
                {% for field in form %}
                <li><label> {{ field.label }} </label>
                    <p id="help_text"> {{field.help_text}} </p>
                     {{field.errors}}
                    <p> {{field}} </p>
                </li>
                {% endfor %}
                <li>
                <input type="submit" value="Submit" />
                </li>
            </ul>
            </form>
        </div>
      </div>
    </div>
{% endblock %}

