{% extends 'bookstore/base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
            {% include 'bookstore/sidebar.html' %}
            <div class="col-md-10">
            {% include 'bookstore/sort_button.html' %}
                {% for book in books %}
                    <div class="col-lg-2">
                        <div class="book-item">
                            <div>
                                Published: <time> {{ book.publish_date }}</time>
                                {% if perms.bookstore.can_change %}
                                 <a href="{% url 'edit_book' pk=book.pk %}">
                                <img id="book_coverage" src="{{book.image.url}}"/>
                                 </a>
                                {% else %}
                                <img id="book_coverage" src="{{book.image.url}}" height=300 width=200"/>
                                {% endif %}
                                 <p> {{ book.title }} </p>
                                <p> Book authors:
                                    {% for author in book.author.all %}
                                    {{ author}}{% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                </p>
                                <p id="price"> {{ book.price }} UAH</p>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:5 %}
                        </div>
                        <div class="row">
                        <div class="col-lg-2">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}