#signup_url {
    position:relative;
    float: right;
}

#recovery_url {
    position: absolute;
    right: 10px;
    margin-top: inherit;
    text-decoration: underline;
}

#site-name {
    margin-bottom: 0;
}

.button-wrapper {
    text-align: center;
    margin: 10 0 10 0;
}