{% load staticfiles %}

<html lang="en-us" >
<head>
<title>Log in | My contact app</title>
<link rel="stylesheet" href="{% static 'admin/css/login.css' %}" type="text/css">
<link rel="stylesheet"  href="{% static 'admin/css/base.css' %}" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&amp;subset=cyrillic-ext" rel="stylesheet">
</head>

<body class=" login"
  data-admin-utc-offset="0">
<div id="container">
    <div id="header">
          <h1 id="site-name"><a href="{% url 'login' %}">Login Form</a>
    </div>

<div id="content" class="colM">
  {% if form.errors %}
    <p class=errornote>Your username and password didn't match. Please try again.</p>
    {% endif %}
  <div id="content-main">
    
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
        <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
        </table>
            <div class="button-wrapper">
            <input type="submit" value="login" />
            <input type="hidden" name="next" value="{{ next }}" />
            </div>
    </form>
